extends layout

block content
    .container.col-md
        form(action="/logout", method="post")
            button(type="submit") Logout
    .container.col-md
       form(action="/change", method="get")
            button(type="submit") change password