extends layout

block content
    .container.col-md
        form(action="/logout", method="post")
            button(type="submit") Logout
    .container.col-md
       form(action="/home/change", method="post")
            button(type="submit") change password
    .container.col-md
       form(action="/home/delete", method="post")
            button(type="submit") delete user
    
    .toast(role='alert' aria-live='assertive' aria-atomic='true')
        .toast-header
            img.rounded.me-2(src='...' alt='...')
            strong.me-auto Bootstrap
            small 11 mins ago
            button.btn-close(type='button' data-bs-dismiss='toast' aria-label='Close')
        .toast-body
            | Hello, world! This is a toast message.
