extends layout

block content
    main
        h1 welcome back
    
        form(action="/logout", method="post")
            //vi låtsas vara en delete request :)
            button(type="submit") Logout
    
        h2 change password
    